html {
  font-size: 62.5%; }

* {
  margin: 0%;
  padding: 0%; }

a {
  text-decoration: none; }

.index__acheyl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nombre navIndex navIndex" "mainIndex mainIndex mainIndex" "footerIndex footerIndex footerIndex"; }
  .index__acheyl .nombre {
    grid-area: nombre;
    display: flex;
    padding-left: 0.4rem;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    background-color: #2510a3;
    color: white;
    background-size: 100%;
    font-family: 'Gochi Hand', cursive; }
  .index__acheyl .navIndex {
    grid-area: navIndex;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #2310a3;
    background-size: 100%;
    font-family: 'Gochi Hand', cursive; }
    .index__acheyl .navIndex .nav__index {
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.5rem; }
  .index__acheyl .mainIndex {
    grid-area: mainIndex; }
    .index__acheyl .mainIndex .tipoDeServicio {
      margin: 2rem 0rem 2rem;
      text-align: center;
      color: blue; }
    .index__acheyl .mainIndex .saludo {
      margin-bottom: 2rem; }
    .index__acheyl .mainIndex .img__presentacion {
      text-align: center; }
    .index__acheyl .mainIndex .fondo {
      margin-top: 3px;
      width: 100%;
      height: 600px; }
  .index__acheyl .footerIndex {
    margin-top: 3rem;
    grid-area: footerIndex;
    text-align: right; }

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nameNav serviciosNav serviciosNav" "serviciosMain serviciosMain serviciosMain" "serviciosFooter serviciosFooter serviciosFooter"; }
  .servicios .nameNav {
    display: flex;
    grid-area: nameNav;
    text-align: left;
    color: white;
    background-color: #2510a3;
    font-family: 'Gochi Hand', cursive;
    align-items: center;
    background-size: 100%; }
    .servicios .nameNav .nameServ {
      font-size: 2.5rem; }
  .servicios .serviciosNav {
    grid-area: serviciosNav;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #2310a3;
    color: white;
    font-family: 'Gochi Hand', cursive;
    text-align: right;
    background-size: 100%; }
    .servicios .serviciosNav .nav__serv {
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.7rem; }

.serviciosMain {
  grid-area: serviciosMain;
  margin-top: 0.5rem; }
  .serviciosMain .electrico {
    display: flex;
    font-family: 'Acme', sans-serif; }
    .serviciosMain .electrico .d__electrico {
      font-size: 1.5rem; }
    .serviciosMain .electrico .imgElectrico {
      height: 300px;
      width: 400px;
      border-radius: 3px;
      border: 0.5px;
      border-color: gray;
      border-style: solid; }
    .serviciosMain .electrico .tituloElectrico {
      list-style: none;
      margin-top: 1%; }
    .serviciosMain .electrico .buttonElectrico {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 3%; }
    .serviciosMain .electrico .tit2Electrico {
      margin-bottom: 2%; }
  .serviciosMain .digital {
    display: flex;
    font-family: 'Acme', sans-serif; }
    .serviciosMain .digital .d__digital {
      font-size: 1.8rem;
      text-align: left;
      margin-top: 1rem; }
    .serviciosMain .digital .imgDigital {
      margin-top: 1rem;
      height: 300px;
      width: 300px;
      border-radius: 3px;
      border: 0.5px;
      border-color: gray;
      border-style: solid; }
    .serviciosMain .digital .tituloDigital {
      list-style: none; }
    .serviciosMain .digital .tit2Digital {
      margin-bottom: 10px; }
    .serviciosMain .digital .buttonDigital {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 8px; }
  .serviciosMain .serviciosFooter {
    grid-area: serviciosFooter;
    text-align: right;
    color: blue; }
  .serviciosMain .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "nameNosotros nosotrosNav nosotrosNav" "nosotrosMain nosotrosMain nosotrosMain" "footerNosotros footerNosotros footerNosotros"; }
    .serviciosMain .nosotros .nameNosotros {
      grid-area: nameNosotros;
      text-align: left;
      color: white;
      background-color: #2510a3;
      font-family: 'Gochi Hand', cursive;
      align-items: center; }
      .serviciosMain .nosotros .nameNosotros .nameNos {
        font-size: 2.5rem; }
    .serviciosMain .nosotros .nosotrosNav {
      grid-area: nosotrosNav;
      display: inline-block;
      background-color: #2310a3;
      color: white;
      font-family: 'Gochi Hand', cursive;
      text-align: right; }
      .serviciosMain .nosotros .nosotrosNav .nav__nosotros {
        display: inline-block;
        margin-right: 1rem;
        color: white;
        text-decoration: none;
        font-size: 1.7rem; }
  .serviciosMain .nosotrosMain {
    grid-area: nosotrosMain; }
    .serviciosMain .nosotrosMain .quienesSomos {
      font-size: 1.5rem; }
  .serviciosMain .footerNosotros {
    grid-area: footerNosotros; }

.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nameContacto contactoNav contactoNav" "contactoMain contactoMain contactoMain" "footerContacto footerContacto footerContacto"; }
  .contacto .nameContacto {
    grid-area: nameContacto;
    display: flex;
    text-align: left;
    color: white;
    background-color: #2510a3;
    font-family: 'Gochi Hand', cursive;
    align-items: center;
    background-size: 100%;
    font-size: 2.5rem; }
  .contacto .contactoNav {
    grid-area: contactoNav;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #2310a3;
    color: white;
    font-family: 'Gochi Hand', cursive; }
    .contacto .contactoNav .nav__contacto {
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.7rem; }

.contactoMain {
  grid-area: contactoMain; }
  .contactoMain .tituloContacto {
    margin-top: 1%;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 3rem; }
  .contactoMain .comentarioContacto {
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 1.5rem; }
  .contactoMain .form__contacto {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem; }
    .contactoMain .form__contacto .Contacto_Botones {
      margin-bottom: 1.5%; }
    .contactoMain .form__contacto .Contacto_BotonesG {
      margin-bottom: 1.5%; }
    .contactoMain .form__contacto .BotonLimpiarFormulario {
      margin-bottom: 5%; }

.footerContacto {
  grid-area: footerContacto;
  text-align: right;
  color: blue; }
