* {
  margin: 0%;
  padding: 0%; }

a {
  text-decoration: none; }

.index__acheyl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 4fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nombre navIndex navIndex" "mainIndex mainIndex mainIndex" "footerIndex footerIndex footerIndex"; }
  .index__acheyl .nombre {
    grid-area: nombre;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.7rem;
    background-color: rgba(237, 237, 236, 0.7);
    background-size: 100%;
    font-family: 'Gochi Hand', cursive; }
  .index__acheyl .navIndex {
    grid-area: navIndex;
    display: flex;
    justify-content: right;
    align-items: center;
    color: gray;
    font-size: 1rem;
    font-weight: bolder;
    background-color: rgba(237, 237, 236, 0.7);
    background-size: 100%;
    font-family: 'Gochi Hand', cursive; }
    .index__acheyl .navIndex .nav__index {
      display: inline-block;
      margin-right: 1rem;
      color: gray;
      text-decoration: none;
      font-size: 1.2rem; }
  .index__acheyl .mainIndex {
    grid-area: mainIndex; }
    .index__acheyl .mainIndex .tipoDeServicio {
      margin: 2rem 0rem 2rem; }
    .index__acheyl .mainIndex .saludo {
      margin-bottom: 2rem; }
  .index__acheyl .footerIndex {
    margin-top: 3rem;
    grid-area: footerIndex;
    text-align: right; }
