html {
  font-size: 62.5%; }

* {
  margin: 0%;
  padding: 0%; }

a {
  text-decoration: none; }

.index__acheyl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nombre navIndex navIndex" "mainIndex mainIndex mainIndex" "footerIndex footerIndex footerIndex"; }
  .index__acheyl .nombre {
    grid-area: nombre;
    display: flex;
    padding-left: 0.4rem;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    background-color: #2510a3;
    color: white;
    background-size: 100%;
    font-family: 'Gochi Hand', cursive; }
  .index__acheyl .navIndex {
    grid-area: navIndex;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #2310a3;
    background-size: 100%;
    font-family: 'Gochi Hand', cursive; }
    .index__acheyl .navIndex .nav__index {
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.5rem; }
  .index__acheyl .mainIndex {
    grid-area: mainIndex; }
    .index__acheyl .mainIndex .tipoDeServicio {
      margin: 2rem 0rem 2rem;
      text-align: center;
      color: blue; }
    .index__acheyl .mainIndex .saludo {
      margin-bottom: 2rem; }
    .index__acheyl .mainIndex .img__presentacion {
      text-align: center; }
    .index__acheyl .mainIndex .fondo {
      margin-top: 3px;
      width: 100%;
      height: 600px; }
  .index__acheyl .footerIndex {
    margin-top: 3rem;
    grid-area: footerIndex;
    text-align: right; }

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nameNav serviciosNav serviciosNav" "serviciosMain serviciosMain serviciosMain" "serviciosFooter serviciosFooter serviciosFooter"; }
  .servicios .nameNav {
    grid-area: nameNav;
    text-align: left;
    color: white;
    background-color: #2510a3;
    font-family: 'Gochi Hand', cursive;
    align-items: center; }
    .servicios .nameNav .nameServ {
      font-size: 2.5rem; }
  .servicios .serviciosNav {
    grid-area: serviciosNav;
    display: inline-block;
    background-color: #2310a3;
    color: white;
    font-family: 'Gochi Hand', cursive;
    text-align: right; }
    .servicios .serviciosNav .nav__serv {
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.7rem; }

.serviciosMain {
  grid-area: serviciosMain;
  margin-top: 1rem; }
  .serviciosMain .electrico {
    display: flex; }
    .serviciosMain .electrico .d__electrico {
      font-size: 1.5rem; }
    .serviciosMain .electrico .imgElectrico {
      height: 300px;
      width: 400px;
      border-radius: 3px;
      border: 0.5px;
      border-color: gray;
      border-style: solid; }
  .serviciosMain .digital {
    display: flex; }
    .serviciosMain .digital .d__digital {
      font-size: 1.5rem;
      text-align: left; }
    .serviciosMain .digital .imgDigital {
      height: 300px;
      width: 300px;
      border-radius: 3px;
      border: 0.5px;
      border-color: gray;
      border-style: solid; }

.serviciosFooter {
  grid-area: serviciosFooter;
  text-align: right;
  color: blue; }

.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nameNosotros nosotrosNav nosotrosNav" "nosotrosMain nosotrosMain nosotrosMain" "footerNosotros footerNosotros footerNosotros"; }
  .nosotros .nameNosotros {
    grid-area: nameNosotros;
    text-align: left;
    color: white;
    background-color: #2510a3;
    font-family: 'Gochi Hand', cursive;
    align-items: center; }
    .nosotros .nameNosotros .nameNos {
      font-size: 2.5rem; }
  .nosotros .nosotrosNav {
    grid-area: nosotrosNav;
    display: inline-block;
    background-color: #2310a3;
    color: white;
    font-family: 'Gochi Hand', cursive;
    text-align: right; }
    .nosotros .nosotrosNav .nav__nosotros {
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.7rem; }

.nosotrosMain {
  grid-area: nosotrosMain; }
  .nosotrosMain .quienesSomos {
    font-size: 1.5rem; }

.footerNosotros {
  grid-area: footerNosotros; }
