html{
  font-size: 62.5%;
}
*{
  margin: 0%;
  padding: 0%;
}

a{
  text-decoration: none;
}
.index__acheyl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.15fr 2fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nombre navIndex navIndex"
      "mainIndex mainIndex mainIndex"
      "footerIndex footerIndex footerIndex";
      .nombre{
        grid-area: nombre; 
        display: flex;
        padding-left: 0.4rem;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        background-color: #2510a3;
        color: white;
        background-size: 100%;
        font-family: 'Gochi Hand', cursive;
      } 
      .navIndex {
        grid-area: navIndex; 
        display: flex;
        justify-content: right;
        align-items: center;
        color: white;
        font-size: 2.5rem;
        font-weight: bolder;
        background-color: #2310a3;
        background-size: 100%;
        font-family: 'Gochi Hand', cursive;
        .nav__index{
          display: inline-block;
          margin-right: 1rem;
          color: white;
          text-decoration: none;
          font-size: 1.5rem;
        }
      }
    .mainIndex {
      grid-area: mainIndex;
      .tipoDeServicio{
        margin: 2rem 0rem 2rem;
        text-align: center;
        color: blue;

      }
      .saludo{
        margin-bottom: 2rem;
      }
      .img__presentacion{
        text-align: center;
          
      }
      .fondo{
        margin-top: 3px;
        width: 100%;
        height: 600px;
      }
    }
    .footerIndex {
      margin-top: 3rem;
      grid-area: footerIndex;
      text-align: right;
    }
}
.servicios {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "nameNav serviciosNav serviciosNav"
  "serviciosMain serviciosMain serviciosMain"
  "serviciosFooter serviciosFooter serviciosFooter";
  .nameNav { 
    display: flex;
    grid-area: nameNav;
    text-align: left;
    color: white;
    background-color: #2510a3;
    font-family: 'Gochi Hand', cursive;
    align-items: center;
    background-size: 100%;
    .nameServ{
      font-size: 2.5rem;
    }
  }
  .serviciosNav { 
    grid-area: serviciosNav;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #2310a3;
    color: white;
    font-family: 'Gochi Hand', cursive;
    text-align: right;
    background-size: 100%;
    .nav__serv{
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.7rem;
    }
  }
}

.serviciosMain { 
  grid-area: serviciosMain;
  margin-top: 0.5rem;
  .electrico{
    display: flex;
    font-family: 'Acme', sans-serif;
    .d__electrico{
      font-size: 1.5rem;
    }
    .imgElectrico{
      height: 300px;
      width: 400px;
      border-radius: 3px;
      border:0.5px;
      border-color:gray;
      border-style:solid;
    }
    .tituloElectrico{
      list-style: none;
      margin-top: 1%;
    }
    .buttonElectrico{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 3%;
    }
    .tit2Electrico{
      margin-bottom: 2%;
    }
  }
  .digital{
    display: flex;
    font-family: 'Acme', sans-serif;
    .d__digital{
      font-size: 1.8rem;
      text-align: left;
      margin-top: 1rem;
    }
    .imgDigital{
      margin-top: 1rem
      height: 300px;
      width: 300px;
      border-radius: 3px;
      border:0.5px;
      border-color:gray;
      border-style:solid;
    }
    .tituloDigital{
      list-style: none;
    }
    .tit2Digital{
      margin-bottom: 10px;
    }
    .buttonDigital{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
    }
  } 

}
.serviciosFooter { 
  grid-area: serviciosFooter;
  text-align: right;
  color: blue;
}
.nosotros {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nameNosotros nosotrosNav nosotrosNav"
    "nosotrosMain nosotrosMain nosotrosMain"
    "footerNosotros footerNosotros footerNosotros";
  .nameNosotros { 
    grid-area: nameNosotros;
    text-align: left;
    color: white;
    background-color: #2510a3;
    font-family: 'Gochi Hand', cursive;
    align-items: center;
    .nameNos{
      font-size: 2.5rem;
    }
  }
  .nosotrosNav { 
    grid-area: nosotrosNav;
    display: inline-block;
    background-color: #2310a3;
    color: white;
    font-family: 'Gochi Hand', cursive;
    text-align: right;
    .nav__nosotros{
      display: inline-block;
      margin-right: 1rem;
      color: white;
      text-decoration: none;
      font-size: 1.7rem;
    }
  }
}

.nosotrosMain { 
  grid-area: nosotrosMain;
  .quienesSomos{
    font-size: 1.5rem;
  }
}

.footerNosotros { 
  grid-area: footerNosotros;
}







